form {
    padding: 20px;
}

tr,
th,
td {
    height: 60px;
    max-width: 300px;
}

.card {
    overflow: scroll;
}

.main{
    padding: 20px;
}

.select-item:hover{
    background-color: lightgray;
}

#res_table{
    overflow: scroll;
    min-width: 90%;
    max-height: 50%;
    padding-left: 30px;
}