<html> 
  <head> 
    <title>Home</title> 
    <link href={{ url_for('static', filename='style.css') }} rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
  </head> 
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Home</a>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Solutions
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="/search_cik">CIK lookup</a></li>
                <li><a class="dropdown-item" href="/search_company">Company Facts</a></li>
                <li><a class="dropdown-item" href="#">Latest 10Q</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <form action='/search_cik_result'>
      <h2 class="mb-3">
        Company Facts
      </h2>
      <div style='display:flex;'>
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h3 style="text-decoration: underline;">Company Facts</h3>
            <table class="table">
              <tbody>
                <tr><th scope="row">CIK Number</th><td>CIK{{client_info.cik.zfill(10)}}</td>
                </tr>
                <tr><th scope="row">Company Name</th><td>{{client_info.name}}</td>
                </tr>
                <tr><th scope="row">Tickers</th><td>{{client_info.tickers}}</td>
                </tr>
                <tr><th scope="row">SIC Code</th><td>{{client_info.sic}}</td>
                </tr>
                <tr><th scope="row">SIC Industry</th><td>{{client_info.sicDescription}}</td>
                </tr>
                <tr><th scope="row">Sector</th><td>{{client_info.ownerOrg}}</td>
                </tr>
                <tr><th scope="row">Exchanges</th><td>{{client_info.exchanges}}</td>
                </tr>
              </tbody>
            </table>
            <a href="/search_company" class="btn btn-primary">Search again</a>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h3 style="text-decoration: underline;">Company Contact</h3>
            <table class="table">
              <tbody>
                <tr><th scope="row">Street1</th><td>{{contact_info.mailing_address.street1}}</td>
                </tr>
                <tr><th scope="row">Street2</th><td>{{contact_info.mailing_address.street2}}</td>
                </tr>
                <tr><th scope="row">City</th><td>{{contact_info.mailing_address.city}}</td>
                </tr>
                <tr><th scope="row">Country/Region</th><td>{{contact_info.mailing_address.Country_Region}}</td>
                </tr>
                <tr><th scope="row">Zip Code</th><td>{{contact_info.mailing_address.zipCode}}</td>
                </tr>
                <tr><th scope="row">Phone NO.</th><td>{{contact_info.phone}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </form>
  </body> 
</html> 